body {
    font-family: Arial, sans-serif;
    background-image: url('forest.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño completo del fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza */
    background-position: center; /* Centra la imagen en el fondo */
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #calendar {
        max-width: 100%;
        margin: 20px;
        padding: 10px;
    }
}